<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.finance.mapper.AshareHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fly.finance.entity.AshareHistory">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="alias" property="alias" />
        <result column="date" property="date" />
        <result column="open" property="open" />
        <result column="close" property="close" />
        <result column="high" property="high" />
        <result column="low" property="low" />
        <result column="volume" property="volume" />
        <result column="psy_type" property="psyType" />
        <result column="psy" property="psy" />
        <result column="psyma" property="psyma" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, alias, date, open, close, high, low, volume, psy_type, psy, psyma, create_time
    </sql>

</mapper>
